<!DOCTYPE html>
<html lang="es">
<head>
    <title>Recuperar Contraseña</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/estiloRecuperar.css">


</head>
<body>
    <div class="container">
        <div class="row justify-content-center pt-5 mt-5 m-1">
            <div class="col-md-6 col-sm-8 col-xl-4 col-lg-6 formulario">
                <form action="" id="formularioRecuperar">
                    <div class="form-group text-center ">
                        <h5 class="text-light">RECUPERAR CONTRASEÑA</h5>
                    </div>

                      <div class="form-group  pt-3">
                        <input type="number" id="documento" class="box-main__input text-center" placeholder="Ingrese su documento">
                    </div>

                    <div class="form-group  pt-3">
                        <input type="text" id="email" class="box-main__input text-center" placeholder="Ingrese su correo electronico">
                    </div>
   
           
                    <div class="form-group mx-sm-4 pb-1">
                        <a href="#" id="recuperar" class="btn btn-block recuperar text-center" >RECUPERAR</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

 <script src="/js/recuperarContraseña.js"></script>
 
</body>
</html>