
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <input type="search" placeholder="Busca informacion" id="Buscador" />
        </div>
        <div class="header-right">
         <span class="material-symbols-outlined">power_settings_new</span><a href="index" class="modulos" >Salir</a> 
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-symbols-outlined">local_library</span> LIBRARYSOFT
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <span class="material-symbols-outlined">dashboard</span> <a href="dashboard" class="modulos" >Dashboard</a>
          </li>
          <li class="sidebar-list-item">
            <span class="material-symbols-outlined">settings</span> <a href="roles" class="modulos">Roles</a> 
          </li>
          <li class="sidebar-list-item">
              <span class="material-symbols-outlined">person</span> <a href="usuarios" class="modulos">Usuarios</a>
          </li>
          <li class="sidebar-list-item">
             <span class="material-symbols-outlined">book</span> <a href="libros" class="modulos">Libros</a>
          </li>
          <li class="sidebar-list-item">
            <span class="material-symbols-outlined">bookmark_added</span> <a href="prestamos" class="modulos">Préstamos</a> 
          </li>
          <li class="sidebar-list-item">
            <span class="material-symbols-outlined">calendar_month</span> <a href="reservas" class="modulos">Reservas</a> 
          </li>
              <li class="sidebar-list-item">
            <span class="material-symbols-outlined"></a>cancel_presentation</span> <a href="sanciones" class="modulos">Sanciones</a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      