      <!-- Main -->
      <main class="main-container">
        <div class="charts">

          <div class="charts-card">
            <p class="chart-title">Préstamos</p>
            <div id="bar-chart"></div>
          </div>

          <div class="charts-card">
            <p class="chart-title">Reservas</p>
            <div id="area-chart"></div>
          </div>

        </div>
      </main>
      <!-- End Main -->

    </div>
    